{% extends "base.html" %}
{% block content %}

<div class=".container-fluid table-responsive m-lg-5">
    <table id="table" class="table table-striped table-dark nowrap" style="display:none" width="100%">
        <thead>
            <tr>
                <th>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="checkbox form-check-input" onchange="editAll(this)">
                    </div>
                </th>
                <th>Play</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Number</th>
                <th>EPG ID</th>
                <th>Fallback For</th>
                <th>Portal</th>
            </tr>
        </thead>
        <tbody>
            {% if channels|length > 0 %}
            {% for channel in channels %}
            <tr class="align-middle">
                {% if channel['enabled'] %}
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="checkbox form-check-input" onchange="editEnabled(this)"
                            data-portal="{{ channel['portal'] }}" data-channelId="{{ channel['channelId'] }}" checked>
                    </div>
                </td>
                {% else %}
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="checkbox form-check-input" onchange="editEnabled(this)"
                            data-portal="{{ channel['portal'] }}" data-channelId="{{ channel['channelId'] }}">
                    </div>
                </td>
                {% endif %}
                <td>
                    <button class="btn btn-success btn-block" title="Play" data-bs-toggle="modal"
                        data-bs-target="#videoModal" onclick="selectChannel(this)"
                        data-channelName="{{ channel['channelName'] }}"
                        data-customChannelName="{{ channel['customChannelName'] }}" data-link="{{ channel['link'] }}"><i
                            class="fa fa-play"></i></button>
                </td>
                <td>
                    <input type="text" class="form-control" style="min-width: 200px;" onchange="editCustomName(this)"
                        data-portal="{{ channel['portal'] }}" data-channelId="{{ channel['channelId'] }}"
                        placeholder="{{ channel['channelName'] }}" title="{{ channel['channelName'] }}"
                        value="{{ channel['customChannelName'] }}">
                </td>
                <td>
                    <input type="text" class="form-control" style="min-width: 200px;" onchange="editCustomGenre(this)"
                        data-portal="{{ channel['portal'] }}" data-channelId="{{ channel['channelId'] }}"
                        placeholder="{{ channel['genre'] }}" title="{{ channel['genre'] }}"
                        value="{{ channel['customGenre'] }}">
                </td>
                <td>
                    <input type="number" class="form-control" style="min-width: 100px;"
                        onchange="editCustomNumber(this)" data-portal="{{ channel['portal'] }}"
                        data-channelId="{{ channel['channelId'] }}" placeholder="{{ channel['channelNumber'] }}"
                        title="{{ channel['channelNumber'] }}" value="{{ channel['customChannelNumber'] }}">
                </td>
                <td>
                    <input type="text" class="form-control" style="min-width: 200px;" onchange="editCustomEpgId(this)"
                        data-portal="{{ channel['portal'] }}" data-channelId="{{ channel['channelId'] }}"
                        placeholder="{{ channel['portal'] }}{{ channel['channelId'] }}"
                        title="{{ channel['portal'] }}{{ channel['channelId'] }}" value="{{ channel['customEpgId'] }}">
                </td>
                <td>
                    <input type="text" class="form-control" style="min-width: 200px;" onchange="editFallback(this)"
                        data-portal="{{ channel['portal'] }}" data-channelId="{{ channel['channelId'] }}"
                        value="{{ channel['fallbackChannel'] }}">
                </td>
                <td style="min-width: 200px;">{{ channel['portalName'] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <form action="/editor/save" method="post" id="save edits" hidden>
        <input type="text" id="enabledEdits" name="enabledEdits" value="">
        <input type="text" id="numberEdits" name="numberEdits" value="">
        <input type="text" id="nameEdits" name="nameEdits" value="">
        <input type="text" id="genreEdits" name="genreEdits" value="">
        <input type="text" id="epgEdits" name="epgEdits" value="">
        <input type="text" id="fallbackEdits" name="fallbackEdits" value="">
    </form>

    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="channelLabel">Channel</h5>
                </div>
                <div class="modal-body">
                    <video width="100%" id="player" controls autoplay>
                        <source src="" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var enabledEdits = [];
    var numberEdits = [];
    var nameEdits = [];
    var genreEdits = [];
    var epgEdits = [];
    var fallbackEdits = [];

    function editAll(ele) {
        var checkboxes = document.getElementsByClassName('checkbox');
        var enable = ele.checked;
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (i != 0) {
                checkboxes[i].checked = enable;
                checkboxes[i].onchange();
            }
        }
    }

    function editEnabled(ele) {
        var p = ele.getAttribute('data-portal');
        var i = ele.getAttribute('data-channelId');
        var c = ele.checked;
        var j = { "portal": p, "channel id": i, "enabled": c };
        console.log(j)
        enabledEdits.push(j);
    }

    function editCustomNumber(ele) {
        var p = ele.getAttribute('data-portal');
        var i = ele.getAttribute('data-channelId');
        var c = ele.value;
        var j = { "portal": p, "channel id": i, "custom number": c };
        numberEdits.push(j);
    }

    function editCustomName(ele) {
        var p = ele.getAttribute('data-portal');
        var i = ele.getAttribute('data-channelId');
        var c = ele.value;
        var j = { "portal": p, "channel id": i, "custom name": c };
        nameEdits.push(j);
    }

    function editCustomGenre(ele) {
        var p = ele.getAttribute('data-portal');
        var i = ele.getAttribute('data-channelId');
        var c = ele.value;
        var j = { "portal": p, "channel id": i, "custom genre": c };
        genreEdits.push(j);
    }

    function editCustomEpgId(ele) {
        var p = ele.getAttribute('data-portal');
        var i = ele.getAttribute('data-channelId');
        var c = ele.value;
        var j = { "portal": p, "channel id": i, "custom epg id": c };
        epgEdits.push(j);
    }

    function editFallback(ele) {
        var p = ele.getAttribute('data-portal');
        var i = ele.getAttribute('data-channelId');
        var c = ele.value;
        var j = { "portal": p, "channel id": i, "channel name": c };
        fallbackEdits.push(j);
    }

    function save() {
        document.getElementById("enabledEdits").value = JSON.stringify(enabledEdits);
        document.getElementById("numberEdits").value = JSON.stringify(numberEdits);
        document.getElementById("nameEdits").value = JSON.stringify(nameEdits);
        document.getElementById("genreEdits").value = JSON.stringify(genreEdits);
        document.getElementById("epgEdits").value = JSON.stringify(epgEdits);
        document.getElementById("fallbackEdits").value = JSON.stringify(fallbackEdits);
        document.getElementById("save edits").submit();
    }

    var player = document.getElementById("player")
    var title = document.getElementById("channelLabel")
    player.volume = 0.25
    function selectChannel(ele) {
        link = ele.getAttribute('data-link');
        player.src = link;
        channel = ele.getAttribute('data-customChannelName');
        if (channel == "") {
            channel = ele.getAttribute('data-channelName');
        }
        title.innerHTML = channel
    }

    $('#videoModal').on('hidden.bs.modal', function () {
        player.src = "";
    })

    /* Create an array with the values of all the checkboxes in a column */
    $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
        return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
            return $('input', td).prop('checked') ? '1' : '0';
        });
    }

    /* Create an array with the values of all the input boxes in a column */
    $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
        return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
            var val = $('input', td).val();
            return val === '' ? $('input', td).attr('placeholder') : val;
        });
    }

    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: "<'row mt-1 mt-lg-0'<'col-auto'B><'col-auto ms-auto'f><'col-auto'l>>" +
                "<'row'<'col-12'tr>>" +
                "<'row mb-1 mb-lg-0'<'col-auto text-light'i><'col-auto ms-auto'p>>",
            pageLength: 25,
            orderFixed: [0, 'des'],
            order: [[0, 'des'], [2, 'asc']],
            autoWidth: true,
            columnDefs: [
                { targets: 0, orderable: false, searchable: false, orderDataType: "dom-checkbox" },
                { targets: 1, orderable: false, searchable: false },
                { targets: 2, orderDataType: "dom-text", type: 'string' },
                { targets: 3, orderDataType: "dom-text", type: 'string' },
                { targets: 4, orderDataType: "dom-text", type: 'string' },
                { targets: 5, orderDataType: "dom-text", type: 'string' },
                { targets: 6, orderDataType: "dom-text", type: 'string' }
            ],
            language: {
                search: "",
                searchPlaceholder: 'Filter',
                lengthMenu: "_MENU_",
            },
            buttons: {
                buttons: [
                    {
                        text: '<i class="fa fa-save"></i>',
                        titleAttr: 'Save',
                        className: "btn btn-success m-1",
                        action: function () {
                            save();
                        }
                    }
                ],
            },
            stateSave: true,
            stateSaveParams: function (settings, data) {
                delete time;
                delete start;
                delete data.order;
                delete data.search;
                delete data.columns;
            },
        });
        $('#table').show();
    });
</script>
{% endblock %}