/* All */
html *{
  font-family: 'Courier New', monospace;
}
body {
  background-color: #616161;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border:1px solid #aaa;
  border-radius:3px;
  padding:5px;
  background-color:#ffffff;
  margin-left:3px 
}
select {
  cursor: pointer;
  border:1px solid #aaa;
  border-radius:3px;
  padding:5px;
  background-color:#ffffff;
  padding:4px;
}
/* Nav */
.logobar {
  overflow: hidden;
  background-color: #333;
}
.logo {
  padding: 14px 16px;
  width: 40px;
  float: left;
}
.donate {
  padding: 14px 16px;
  width: 40px;
  float: right;
}
.github {
  padding: 14px 16px;
  width: 40px;
  float: right;
}
.title {
  float: left;
  text-align: center;
  color: #f2f2f2;
  font-size: 40px;
  padding: 14px 16px;
  margin: 0px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topnav a:hover {
  background-color: #e0fff3;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/* Tables */
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}
th {
  background-color: #04AA6D;
  color: #ffffff;
}
tr {
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #e0fff3;
}
/* Table wrapper */
.dataTables_wrapper{
  position:relative;
  clear:both;
  margin-top: -25px;
}
/* Table filter */
.dataTables_wrapper .dataTables_filter{
  float:right;
  text-align:right;
  padding-bottom: 5px;
  color: #ffffff 
}
.dataTables_wrapper .dataTables_filter input{
  border:1px solid #aaa;
  border-radius:3px;
  padding:5px;
  background-color:#ffffff;
  margin-left:3px 
}
/* Table length */
.dataTables_wrapper .dataTables_length{
  float:right;
  color: #ffffff;
  padding-bottom: 5px;
  padding-left: 5px;
}
.dataTables_wrapper .dataTables_length select{
  cursor: pointer;
  border:1px solid #aaa;
  border-radius:3px;
  padding:5px;
  background-color:#ffffff;
  padding:4px;
}
/* Table info */
.dataTables_wrapper .dataTables_info{
  clear:both;
  float:left;
  padding-top:.755em;
  color: #ffffff;
}
/* Table paginate */
.dataTables_wrapper .dataTables_paginate{
  float:right;
  text-align:right;
  padding-top:.25em;
  padding-bottom: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  box-sizing:border-box;
  display:inline-block;
  min-width:1.5em;
  padding:.5em 1em;
  margin-left:2px;
  text-align:center;
  text-decoration:none !important;
  cursor:pointer;
  *cursor:hand;
  color:#ffffff !important;
  border:1px solid transparent;
  border-radius:2px 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  color:#ffffff !important;
  border:1px solid #979797;
  background-color: #04AA6D;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  cursor:default;
  color:#ffffff !important;
  border:1px solid transparent;
  background:transparent;
  box-shadow:none 
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  color:rgb(0, 0, 0) !important;
  border:1px solid #111;
  background-color:#e0fff3;
  ;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
  outline:none;
  background-color:#04AA6D;
  box-shadow:inset 0 0 3px #111 
}
.dataTables_wrapper .dataTables_paginate .ellipsis{
  padding:0 1em;
  color:#ffffff 
}
/* Table sorting */
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{
  cursor:pointer;
  *cursor:hand;
  background-repeat:no-repeat;
  background-position:center right 
}
table.dataTable thead .sorting{
  background-image:url("../static/sort_both.png") 
}
table.dataTable thead .sorting_asc{
  background-image:url("../static/sort_asc.png") !important 
}
table.dataTable thead .sorting_desc{
  background-image:url("../static/sort_desc.png") !important 
}
table.dataTable thead .sorting_asc_disabled{
  background-image:url("../static/sort_asc_disabled.png") 
}
table.dataTable thead .sorting_desc_disabled{
  background-image:url("../static/sort_desc_disabled.png") 
}
/* Buttons */
input[type=submit], button {
  cursor:pointer;
  width: 100%;
  border-radius: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border:none;
  text-decoration: none;
  color: #ffffff;
  background-color: #04AA6D;
}
input[type=submit]:hover, button:hover {
  background-color:#008856 ;
}
.buttonRemovePortal {
  background-color: #b10808;
}
.buttonRemovePortal:hover {
  background-color:#9b0606 ;
}
.buttonSavePlaylist {
  width:auto;
  position: relative;
  z-index: 1;
  cursor:pointer;
  border-radius: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border:none;
  text-decoration: none;
  color: #ffffff;
  background-color: #04AA6D;
}
.buttonSavePlaylist:hover {
  background-color:#008856 ;
}
.channelButton {
  cursor:pointer;
  width: 100%;
  border-radius: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border:none;
  text-decoration: none;
  color: #ffffff;
  background-color: #04AA6D;
}
.channelButton:hover {
  background-color:#008856;
}