<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/tv.png" />
    <title>STB Proxy</title>


</head>

<body>
    <div class="logobar">
        <img src="../static/tv.png" alt="logo" class="logo">
        <h4 class="title">STB Proxy</h4>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=62MYXSBT75D4E"
            target="_blank"><img src="../static/beer.png" alt="donate" class="donate"></a>
        <a href="https://github.com/Chris230291/STB-Proxy" target="_blank"><img src="../static/github.png" alt="github"
                class="github"></a>
    </div>
    <br>
    <div class="topnav">
        <a href="/portals">Portals</a>
        <a class="active" href="/editor">Playlist Editor</a>
        <a href="/player">Player</a>
    </div>

    <br>

    <form action="/editor/save" method="post" id="save edits">
        <input type="text" id="enabledEdits" name="enabledEdits" value="" hidden>
        <input type="text" id="nameEdits" name="nameEdits" value="" hidden>
        <input type="text" id="genreEdits" name="genreEdits" value="" hidden>
        <input type="button" id="saveButton" class="buttonSavePlaylist" onclick="save()" value="Save"
            style="display:none">
    </form>

    <input type="button" id="EnableButton" class="EnableButton" onclick="save()" value="Save" style="display:none">

    <table id="table" style="display:none">
        <thead>
            <tr>
                <th><input type="checkbox" onchange="editAll(this)"></th>
                <th width="25%">Channel Name</th>
                <th width="25%">Custom Name</th>
                <th width="25%">Genre</th>
                <th width="25%">Custom Genre</th>
                <th>Portal</th>
            </tr>
        </thead>
        <tbody>
            {% if channels|length > 0 %}
            {% for channel in channels %}
            <tr>
                {% if channel['enabled'] %}
                <td><input type="checkbox" class="checkbox" onchange="editEnabled(this)"
                        data-portalName="{{ channel['portalName'] }}" data-channelId="{{ channel['channelId'] }}"
                        checked>
                </td>
                {% else %}
                <td><input type="checkbox" class="checkbox" onchange="editEnabled(this)"
                        data-portalName="{{ channel['portalName'] }}" data-channelId="{{ channel['channelId'] }}"></td>
                {% endif %}
                <td>{{ channel['channelName'] }}</td>
                <td><input type="text" class="textfield" onchange="editCustomName(this)"
                        data-portalName="{{ channel['portalName'] }}" data-channelId="{{ channel['channelId'] }}"
                        value="{{ channel['customChannelName'] }}"></td>
                <td>{{ channel['genre'] }}</td>
                <td><input type="text" class="textfield" onchange="editCustomGenre(this)"
                        data-portalName="{{ channel['portalName'] }}" data-channelId="{{ channel['channelId'] }}"
                        value="{{ channel['customGenre'] }}"></td>
                <td>{{ channel['portalName'] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="6" style="text-align:center">No working portals! Go to the portals tab, add a working portal
                then come back.</td>
            {% endif %}
        </tbody>
    </table>

    <script>
        var enabledEdits = [];
        var nameEdits = [];
        var genreEdits = [];

        function editAll(ele) {
            checkboxes = document.getElementsByClassName('checkbox');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = ele.checked;
                editEnabled(checkboxes[i])
            }
        }

        function editEnabled(ele) {
            var p = ele.getAttribute('data-portalName');
            var i = ele.getAttribute('data-channelId');
            var c = ele.checked;
            var j = { "portal": p, "channel id": i, "enabled": c };
            enabledEdits.push(j);
        }

        function editCustomName(ele) {
            var p = ele.getAttribute('data-portalName');
            var i = ele.getAttribute('data-channelId');
            var c = ele.value;
            var j = { "portal": p, "channel id": i, "custom name": c };
            nameEdits.push(j);
        }

        function editCustomGenre(ele) {
            var p = ele.getAttribute('data-portalName');
            var i = ele.getAttribute('data-channelId');
            var c = ele.value;
            var j = { "portal": p, "channel id": i, "custom genre": c };
            genreEdits.push(j);
        }

        function save() {
            document.getElementById("enabledEdits").value = JSON.stringify(enabledEdits);
            document.getElementById("nameEdits").value = JSON.stringify(nameEdits);
            document.getElementById("genreEdits").value = JSON.stringify(genreEdits);
            document.getElementById("save edits").submit();
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

    <script>
        /* Create an array with the values of all the checkboxes in a column */
        $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
            return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                return $('input', td).prop('checked') ? '1' : '0';
            });
        }

        /* Create an array with the values of all the input boxes in a column */
        $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
            return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                return $('input', td).val();
            });
        }

        $(document).ready(function () {
            $('#table').dataTable({
                "dom": 'lfrtip',
                "pageLength": 25,
                "lengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "All"]],
                "orderFixed": [0, 'des'],
                "order": [[0, 'des'], [1, 'asc']],
                "autoWidth": false,
                "columns": [
                    { "width": "1%", "orderDataType": "dom-checkbox" },
                    { "width": "20%" },
                    { "width": "20%", "orderDataType": "dom-text", type: 'string' },
                    { "width": "20%" },
                    { "width": "20%", "orderDataType": "dom-text", type: 'string' },
                    { "width": "1%" }
                ],
                "language": {
                    search: '<i class="fa fa-filter" aria-hidden="true"></i>',
                    searchPlaceholder: 'Filter',
                    "lengthMenu": "_MENU_",
                },
                stateSave: true,
                "stateSaveParams": function (settings, data) {
                    delete time;
                    delete start;
                    delete data.order;
                    delete data.search;
                    delete data.columns;
                },
                "columnDefs": [{
                    "targets": 0,
                    "orderable": false,
                    "searchable": false
                }]
            });
            $('#table').show();
            $('#saveButton').show();
        });
    </script>
</body>

</html>