{% extends "base.html" %}
{% block content %}

<div class="container-fluid text-light pt-sm-5 p-lg-5 h-25">
    <div class="row row-cols-auto mb-2">
        <span class="col">Autoscroll:</span>
        <div class="form-check form-switch col">
            <input type="checkbox" class="checkbox form-check-input" id="autoscroll" checked>
        </div>
    </div>
    <pre class="border p-3" style="height: 40pc; overflow-y: scroll;" id="output"></pre>
</div>

<script>
    var output = document.getElementById('output');
    var autoscroll = document.getElementById('autoscroll');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "{{ url_for('stream') }}");
    xhr.send();
    setInterval(function () {
        output.textContent = xhr.responseText;
        if (autoscroll.checked) {
            output.scrollTop = output.scrollHeight;
        }
    }, 1000);
</script>

{% endblock %}
