<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/tv.png" />
    <title>STB Proxy</title>
</head>

<body>

    <div class="logobar">
        <img src="../static/tv.png" alt="logo" class="logo">
        <h4 class="title">STB Proxy</h4>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=62MYXSBT75D4E"
            target="_blank"><img src="../static/beer.png" alt="donate" class="donate"></a>
        <a href="https://github.com/Chris230291/STB-Proxy" target="_blank"><img src="../static/github.png" alt="github"
                class="github"></a>
    </div>
    <br>
    <div class="topnav">
        <a href="/portals">Portals</a>
        <a href="/editor">Playlist Editor</a>
        <a class="active" href="/player">Player</a>
    </div>

    <br>

    <video height="300px" id="player" controls autoplay>
        <source src="" type="video/mp4">
        Your browser does not support HTML video.
    </video>

    <br>
    <br>

    <table id="table" style="display:none">
        <thead>
            <tr>
                <th>Channel</th>
                <th>Now</th>
                <th>Next</th>
            </tr>
        </thead>
        <tbody>
            {% if channels|length > 0 %}
            {% for channel in channels %}
            <tr>
                <td><input type="button" class="channelButton" value="{{ channel['name'] }}"
                        onclick="selectChannel(this)" data-link="{{ channel['link'] }}"></td>
                <td>{{ channel['now'] }}</td>
                <td>{{ channel['next'] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" style="text-align:center">No enabled channels! Go to the playlist editor, enable some
                    channels then come back.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <script>
        var player = document.getElementById("player")
        function selectChannel(ele) {
            var link = ele.getAttribute('data-link');
            player.src = link;
        }

        player.onended = function () {
            alert("The audio has ended");
        };

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

    <script>
        /* Create an array with the values of all the input boxes in a column */
        $.fn.dataTable.ext.order['dom-text'] = function (settings, col) {
            return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                return $('input', td).val();
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#table').dataTable({
                "dom": 'lfrtip',
                "pageLength": 25,
                "lengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "All"]],
                "order": [0, 'asc'],
                "autoWidth": false,
                "ordering": false,
                "language": {
                    search: '<i class="fa fa-filter" aria-hidden="true"></i>',
                    searchPlaceholder: 'Filter',
                    "lengthMenu": "_MENU_",
                },
                "columns": [
                    { "width": "15%", "orderDataType": "dom-text", type: 'string' },
                    { "width": "40%" },
                    { "width": "40%" },
                ],
                stateSave: true,
                "stateSaveParams": function (settings, data) {
                    delete time;
                    delete start;
                    delete data.order;
                    delete data.search;
                    delete data.columns;
                },
            });
            $('#table').show();
        });
    </script>

</body>

</html>